/* Cards
--------------------------------------------------*/

.card-img-top img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.card {
  margin-bottom: $spacer;
  cursor: pointer;
  background-color: $gray-100;
  a:hover {
    text-decoration: none;
  }
  h4 {
    font-size: $font-size-h5;
  }
  .field--name-field-tagline {
    font-size: $font-size-sm;
  }
  .field--name-field-daterange,
  .field--name-field-date,
  .field--name-field-pubdate,
  .field--name-field-author-s-,
  .field--name-node-post-date,
  .field--name-field-region,
  .addtoany_list {
   //position: absolute;
   bottom: 0;
   padding: .5rem 1rem 0 1rem;
   margin: .5rem -1rem 0;
   line-height: 1rem;
   font-size: $font-size-xs;
   border-top: solid 1px $card-border-color;
   width: auto;
  }
  .field--type-image {
    margin: 0 !important;
  }
  .field--name-field-pubdate,
  .field--name-node-post-date {
    right: 0;
  }
  &:hover {
    background-color: $accent-light;
  }
  .card-block {
    padding: 1rem 1rem .5rem 1rem;
    font-size: $font-size-sm;
  }
}
