.jumbotron {
    //background-image: url(../images/yellowcrack.jpg);
    background-color: rgba(0,0,0,.2);
    padding: 1rem;
  @include media-breakpoint-up(xs) {
    margin: 2rem;
  }
}
.path-frontpage .jumbotron {
  padding: 1rem 1rem 2rem;
  @include media-breakpoint-up(sm) {
    margin: 4rem 2rem 0;

  }
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
}
