/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
    background: $white;
    color: $body-color;
    font-family: $font-text;
}

#main {
  margin: 2rem 0;
}

/* COLORS
--------------------------------------------------*/

a {
    color: $link-color;
}

.bg-inverse {
    background: $primary-shade !important;
}

.site-footer {
    background: $primary-shade !important;
    a {
        color: $body-color;
        font-weight: bold;
    }
    padding: 2rem;
}

.menu--main li a {
    color: $gray;
}

.menu--account li a {
    color: $primary-shade;
}

.site-name-slogan a {
    text-decoration: none;
}

span.ev {
  color: red !important;
}

.box {
  background-color: $accent-shade;
  color: $body-bg;
  padding: 1rem;
  border-radius: 5px;
}

/* Layout */

#main, .region-footer-fifth, .featured-bottom {
  @extend .container;
  @extend .mx-auto;
  max-width: 1280px;
}

.featured-bottom aside {
  @extend .row;
  border: 1px solid $gray-100;
  @extend .mb-4;
}

.float-left {
  float: left !important;
}

.two-columns {
  @include media-breakpoint-up(sm) {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.navbar {
  -webkit-box-shadow: 0px 4px 7px 0px rgba(153,204,255,0.5);
  -moz-box-shadow: 0px 4px 7px 0px rgba(153,204,255,0.5);
  box-shadow: 0px 4px 7px 0px rgba(153,204,255,0.5);
  border-bottom: 1px $gray-100;
  background-color: $body-bg !important;
}

.banner {
  background-image: url('/sites/default/files/images/Int Wkshop AgBD Iran 006.jpg');
  background-repeat: no-repeat;
  background-size: 1860px auto;
  background-position: center center;
  min-height: 500px;
  color: white;
}

.navbar-brand {
   font-weight: bold;
}

.highlight {
  background-color: $accent-shade;
  color: $body-bg;
  font-family: $font-header;
  font-size: $font-size-lg;
  padding: 1rem;
}

.flickr-photo, .image-left {
  margin: 0 1rem 1rem 0;
}

.path-publications {
  .image-left img {
    border: solid 1px $gray-100;
    float: left;
    max-width: 120px;
    height: auto;
  }
}

.video-embed-field-launch-modal {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 10px;

  &:before {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 60px;
    color: #fff;
    opacity: .5;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  }
  &:hover:before {
    color: #eee;
    opacity: .8;
  }
}

.sliding-popup-bottom {
  width: 100%;
  background-color: #eee;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  z-index: 99999;
  text-align: center;
}

.eu-cookie-compliance-content {
  margin: 0 auto;
  max-width: 80%;
  display: inline-block;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

.eu-cookie-compliance-buttons button {
  background-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.eu-cookie-compliance-secondary-button {
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.eu-cookie-compliance-default-button {
  border: none;
}