/* TYPOGRAPHY */

/* fontawesome */
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";

/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans:400,300,500,600,700,800,900");
// font families
$font-text: 'Open Sans',
Arial,
Verdana,
sans-serif;
$font-header: 'Ropa Sans',
Arial,
Verdana,
sans-serif;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Open Sans',
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
h1, h2 {
  font-family: $font-text;
  font-weight: 700;
}

h3, h4, h5, h6 {
  font-family: $font-header;
}
$font-family-base: $font-text;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
